/* logo animate */
@keyframes logo {
    25% {

        color: rgb(0, 81, 255);
    }

    50% {

        color: darkgreen;
    }

    75% {

        color: red;
    }

    100% {

        color: goldenrod;
    }
}
/* logo line animate */

@keyframes animate {
    25% {
       background-color: rgb(0, 81, 255);
       width: 70px;
   }

   50% {
       background-color: darkgreen;
       width: 142px
   }
   75% {
       background-color: red;
       width: 210px
   }
   100% {
       background-color: goldenrod;
       width: 285px
   }
}
